<% content_for :header_title do %>Hantera orkestrar<% end %>




<div class="container">
  <a href="<%= url_for action: :index %>.csv" class="btn">
    Export all orchestra items
  </a>

  <table class="highlight">
    <thead>
    <tr>
      <th>Namn</th>
      <th>Ägare</th>
      <th>E-mail</th>
    </tr>
    </thead>
    <tbody>
    <% @orchestras.each do |orchestra| %>
        <tr data-href="<%= url_for controller: :orchestra, action: :show, id: orchestra['id'] %>">
          <td><%= orchestra['name'] %></td>
          <td><%= orchestra['user']['display_name'] %></td>
          <td><%= orchestra['user']['email'] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
