<% content_for :header_title do %>Butik
<% end %>

<div class="container shop-container">
  <div class="row">
    <div class="card-container">
      <% @products.each do |product| %>
          <div class="card shop-item">
            <form method="post">
              <div class="cost">
                <span class="card-title"><%= product['name'] %></span>
                <% if product['products'].any? { |x| x['cost'].present? } %>
                  <p>Olika priser</p>
                <% else %>
                  <p><%= cost product['cost'] %></p>
                <% end %>
              </div>

              <div class="card-content">
                <p><%= product['description'] %></p>

                <% if product['products'].first['kind'].nil? %>
                    <%= hidden_field_tag :product_id, product['products'].first['id'] %>
                <% else %>
                    <div class="row">
                      <div class="input-field col s12">
                        <select name="product_id">
                          <option value="" disabled selected>Välj typ</option>
                          <% product['products'].each do |option| %>
                              <% if product['products'].any? { |x| x['cost'].present? } %>
                                <option value="<%= option['id'] %>"><%= "#{option['kind']} (#{cost option['cost']})" %></option>
                              <% else %>
                                <option value="<%= option['id'] %>"><%= option['kind'] %></option>
                              <% end %>
                          <% end %>
                        </select>
                      </div>
                    </div>
                <% end %>
              </div>
              <div class="card-action">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                <a class="card-action-text" href="javascript:;">Lägg till i kundvagn</a>
              </div>
            </form>
          </div>
      <% end %>
    </div>
  </div>
</div>


