<% content_for :header_title do %>Butik
<% end %>

<div class="container shop-container">
  <div class="row">
    <div class="card-container">
      <% @products.each do |product| %>
          <div class="card shop-item">
            <form method="post">
              <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg">
                <span class="card-title"><%= product['name'] %></span>
                <span class="card-title"><%= product['name'] %></span>
              </div>
              <p class="cost"><%= product['cost'] %> SEK</p>
              <div class="card-content">
                <p><%= product['description'] %></p>

                <% unless product['options'].nil? %>
                    <% product['options'].each do |option| %>
                        <div class="row">
                          <div class="input-field col s12">
                            <select name="options[<%= option['name'] %>]">
                              <option value="" disabled selected><%= option['request'] %></option>
                              <% option['choices'].each do |choice| %>
                                  <option value="<%= choice['value'] %>"><%= choice['title'] %></option>
                              <% end %>
                            </select>
                            <label><%= option['title'] %></label>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>
              <div class="card-action">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= hidden_field_tag :product_id, product['id'] %>
                <a class="card-action-text" href="javascript:;">Lägg till i kundvagn</a>
              </div>
            </form>
          </div>
      <% end %>
    </div>
  </div>

  <form method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <button class="btn">Lägg till objekt i varukorgen</button>
  </form>
</div>


