<% content_for :header_title do %>Kårtegetåget<% end %>

<div class="cortege-container">
  <div class="card-container">
    <div class="card margin-bottom-40">
      <div class="card-content">
        <div class="cortege-info-container l-green">
          <h3>
            <%= @cortege['name'] %>
          </h3>
        </div>
        <div class="points-container">
          <%= @cortege['image'] %>
        </div>
      </div>
      <div class="card-content bottom-block">
      <span class="card-title activator center-block center l-green">
        - mer info -
      </span>
      </div>
      <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        <%= @cortege['description'] %>
        <i class="material-icons right">close</i>
      </span>
      </div>
    </div>
  </div>
</div>





<div class="row">
  <form method="post" action="<%= url_for action: :delete %>" onsubmit="return confirm('Ta bort kortege?');">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="input-field col s12">
      <button type="submit" class="btn red">Ta bort</button>
    </div>
  </form>
</div>














