<% content_for :header_title do %><%= t('orchestra.title') %><% end %>

<div class="container">
  <div class="row">
    <% if current_user['orchestra'].nil? %>
    <form method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <h2 class="header"><%= t('orchestra.create.header') %></h2>

      <div class="row">
        <div class="col s12 m6 l6">
          <label for="orchestra-name"><%= t('orchestra.create.name') %></label>
          <input type="text" id="orchestra-name" name="item[name]" required>
        </div>

        <div>
          <div class="input-field col s12">
            <label><%= t('orchestra.create.ballet_or_orchestra') %></label>
          </div>

          <div class="input-field col s12">
            <p>
              <input id="performingAs_orch" type="radio" name="item[orchestra_type]" value="0" checked>
              <label for="performingAs_orch"><%= t('orchestra.create.option_orchestra') %></label>
            </p>
            <p>
              <input id="performingAs_bal" type="radio" name="item[orchestra_type]" value="1">
              <label for="performingAs_bal"><%= t('orchestra.create.option_ballet') %></label>
            </p>
            <p>
              <input id="performingAs_orch_bal" type="radio" name="item[orchestra_type]" value="2">
              <label for="performingAs_orch_bal"><%= t('orchestra.create.option_ballet_and_orchestra') %></label>
            </p>
          </div>
        </div>
    </div>

      <div class="row">
        <div class="input-field col s12">
          <label><%= t('orchestra.create.dormitory_title') %></label>
          <br>
          <p><%= t('orchestra.create.dormitory_description') %></p>
        </div>

        <div class="input-field col s12">
          <p>
            <!-- the orchs are comming!! -->
            <input id="dormitory_yes" type="radio" name="item[dormitory]" value="true" checked>
            <label for="dormitory_yes"><%= t('orchestra.create.dormitory_yes') %></label>
          </p>
          <p>
            <input id="dormitory_no" type="radio" name="item[dormitory]" value="false">
            <label for="dormitory_no"><%= t('orchestra.create.dormitory_no') %></label>
          </p>
        </div>
      </div>

      <button type="submit" class="btn"><%= t('orchestra.create.create_action') %></button>
    </form>
    <% else %>
        <h4><%= t('orchestra.create.error_not_available') %></h4>
        <p><%= t('orchestra.create.error_detail_reference', name: current_user['orchestra']['name']) %></p>
        <p><%= t('orchestra.create.error_detail_text') %></p>
        <a class="btn" href="<%= url_for action: :show, id: current_user['orchestra']['id'] %>"><%= t('orchestra.create.error_goto_orchestra') %></a>
    <% end %>
  </div>
</div>
