<% content_for :header_title do %><%= t('orchestra.title') %><% end %>

<div class="hero-container">
  <div class="hero hero-orchestra center">
  </div>
</div>

<div class="container">
  <div class="row center margin-bottom-40">
    <p class="hero-description">
      <%= t('orchestra.hero_description') %>
    </p>
    <hr class="hero-divider">
  </div>

  <div class="row center margin-bottom-40">
    <div class="col s12 m6 l6">
      <div class="text-with-icon-column">
        <i class="icon-user-plus"></i>
        <h3><%= t('orchestra.heroes.signup.title') %></h3>
        <span><%= t('orchestra.heroes.signup.text') %></span>
      </div>
    </div>


    <div class="col s12 m6 l6">
      <div class="text-with-icon-column">
        <i class="icon-guitar"></i>
        <h3><%= t('orchestra.heroes.festival.title') %></h3>
        <span><%= t('orchestra.heroes.festival.text') %></span>
      </div>
    </div>
  </div>

</div>
