<% content_for :header_title do %>Orkestrar<% end %>

<div class="container">
  <div class="row section">
    <div class="col s12 m6">
      <%= link_to('Logga in', login_path, {:class => 'list-item waves-effect waves-teal'}) %>
      <a><%= link_to('Skapa ny orkester', link_to, {:class => 'list-item waves-effect waves-teal'}) %></a>
      <a class="waves-effect waves-light btn-large">Skapa ny orkester</a>
      <a class="waves-effect waves-light btn-large">Registrera till orkester</a>
    </div>
    <% unless current_user.nil? %>
    <div class="col s12 m6">
      <h4>Mina orkestrar</h4>
      <% current_user['orchestras'].each do |orchestra| %>
        <p>
          <a href="<%= url_for action: :show, id: orchestra['id'] %>"><%= orchestra['name'] %></a>
        </p>
      <% end %>

      <h4>Mina orkesteranmälningar</h4>
      <% current_user['orchestra_signups'].each do |signup| %>
          <p><%= signup['name'] %></p>
      <% end %>
    </div>
    <% end %>

  </div>
</div>
