<% content_for :header_title do %><%= @signup['orchestra']['name'] %>
<% end %>

<div class="container">

  <div class="col s12 m6 l6">
    <h4><%= t('.header') %></h4>
    <table>
      <thead>
      <tr>
        <th><%= t('.columns.product') %></th>
        <th><%= t('.columns.amount') %></th>
        <th><%= t('.columns.piece_price') %></th>
        <th><%= t('.columns.total') %></th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= t('orchestra.register.festival_ticket') %>: <%= @festivalTicket %></td>
          <td> 1 </td>
          <td><%= @ticketCost %></td>
          <td><%= @ticketCost %></td>
        </tr>
        <% if(@lintekDiscount < 0) %>
          <tr>
            <td><%= t('orchestra.register.lintek_discount') %></td>
            <td> 1 </td>
            <td><%= @lintekDiscount %></td>
            <td><%= @lintekDiscount %></td>
          </tr>
        <% end %>
        <% if(@isLateRegistration) %>
          <tr>
            <td><%= t('orchestra.register.late_registration') %> </td>
            <td> 1 </td>
            <td> 100 </td>
            <td> 100 </td>
          </tr>
        <% end %>
          <tr>
            <td><%= t('orchestra.register.food_ticket') %>: <%= @foodTicket %></td>
            <td> 1 </td>
            <td><%= @foodTicketCost %></td>
            <td><%= @foodTicketCost %></td>
          </tr>

       <% if(@dormitory == 1) %>
        <tr>
          <td><%= t('orchestra.register.dormitory') %></td>
          <td>1</td>
          <td>50</td>
          <td>50</td>
        </tr>
      <% end %>
      <% @allTshirts.each do |t| %>
          <tr>
            <td><%= t["data"] %></td>
            <td> 1 </td>
            <td> 100</td>
            <td> 100</td>
          </tr>
      <% end %>
      <% if(@totalMedals > 0) %>
          <tr>
            <td><%= t('.products.medals') %></td>
            <td><%= @totalMedals %></td>
            <td>40</td>
            <td><%= @totalMedals * 40 %></td>
          </tr>
      <% end %>
      <% if(@totalTags > 0) %>
          <tr>
            <td><%= t('.products.tags') %></td>
            <td><%= @totalTags %></td>
            <td>20</td>
            <td><%= @totalTags * 20 %></td>
          </tr>
      <% end %>
      <tr>
        <th><%= t('.sum') %></th>
        <td></td>
        <td></td>
        <td><%= @totalCost %> </td>

      </tr>
      </tbody>
    </table>
  </div>


  <% if(@diets.any?) %>
    <div class="col s12 m3 l3">
      <table>
        <thead>
        <tr>
          <th><%= t('.allergies') %></th>
        </tr>
        </thead>
        <tbody>
          <% @diets.each do |d| %>
            <tr>
              <td><%= d %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>


<!-- TODO VILKA ORKESTREAR -->
  <% unless(@otherPerformances.blank?) %>
    <div class="col s12 m3 l3">
      <table>
        <thead>
        <tr>
          <th><%= t('.other_performances') %></th>
        </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= @otherPerformances %></td>
            </tr>
        </tbody>
      </table>
    </div>
  <% end %>


  <div class="col s12 m2 l3">
    <p>
      <%= t('orchestra.show_signup.actions.warning') %>
    </p>
  </div>  

  <!-- KNAPP -->
  <form method="post" action="<%= url_for action: :delete, id: @signup["id"] %>" onsubmit="return confirm('<%= t('orchestra.messages.show_signup.confirm_delete') %>');">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <button type="submit" class="btn red"><%= t('.actions.delete') %></button>
  </form>



</div>

