<% content_for :header_title do %><%= @orchestra['name'] %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h4>Kod: <%= @orchestra['code'] %></h4>
      <p>
        När era orkestermedlemmar registrerar sig till er orkester måste de ange ovanstående kod för att kopplas till er
        orkester.
      </p>
      <form method="post" action="<%= url_for action: :reset_code, id: @orchestra['id'] %>">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button type="submit" class="btn">Skapa ny kod</button>
      </form>

      <h4>Uppdatera orkester</h4>

      <form method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div>
          <label for="orchestra-name">Orkesternamn</label>
          <input type="text" id="orchestra-name" name="item[name]" value="<%= @orchestra['name'] %>" required>
        </div>

        <div>
          <div class="input-field col s12">
            <label>Balett eller orkester?</label>
          </div>

          <div class="input-field col s12">
            <p>
              <input id="performingAs_orch" type="radio" name="item[ballet]" value="false" <%= 'checked' if @orchestra['orchestra_type'] == 0 %>>
              <label for="performingAs_orch">Orkester</label>
            </p>
            <p>
              <input id="performingAs_bal" type="radio" name="item[ballet]" value="true" <%= 'checked' if @orchestra['orchestra_type'] == 1 %>>
              <label for="performingAs_bal">Balett</label>
            </p>
            <p>
              <input id="performingAs_orch_bal" type="radio" name="item[ballet]" value="true" <%= 'checked' if @orchestra['orchestra_type'] == 2 %>>
              <label for="performingAs_orch_bal">Orkester + Balett</label>
            </p>
          </div>
        </div>

        <div class="input-field col s12">
          <label>Vill ni sova i sovsal?</label>
          <br>
          <p>
            Under anmälan till er orkester/balett kan en medlem välja att inte ta ställning till att sova i sovsal eller
            ej. Då tas automatiskt det beslut du gör nu.
          </p>
          <p>
            <b>OBS! Ändrar du detta val påverkas alla medlemmar som valt att ej ta ställning. Deras val kommer uppdateras till ditt nya val.</b>
          </p>
        </div>

        <div class="input-field col s12">
          <p>
            <input id="dormitory_yes" type="radio" name="item[dormitory]" value="true" <%= 'checked' if @orchestra['dormitory'] %>>
            <label for="dormitory_yes">Ja</label>
          </p>
          <p>
            <input id="dormitory_no" type="radio" name="item[dormitory]" value="false" <%= 'checked' unless @orchestra['dormitory'] %>>
            <label for="dormitory_no">Nej</label>
          </p>
        </div>

        <div class="input-field col s12">
          <br/>
          <button type="submit" class="btn">Uppdatera orkester</button>
        </div>
      </form>

      <form method="post" action="<%= url_for action: :delete_orchestra, id: @orchestra["id"] %>" onsubmit="return confirm('Vill du verkligen ta bort din orkester?');">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="input-field col s12">
          <button type="submit" class="btn red">Ta bort orkester</button>
        </div>
      </form>
    </div>
    <div class="col s12 m6">
      <h4>Anmälda medlemmar</h4>
      <table class="responsive-table">
        <thead>
        <tr>
          <th>Namn</th>
          <th>Kostnad</th>
        </tr>
        </thead>
        <tbody>
        <% @orchestra['orchestra_signups'].each do |signup| %>
            <tr>
              <td><%= signup['user']['display_name'] || '(namn saknas)' %></td>
              <td><%= signup['total_cost'] %> SEK</td>
            </tr>
        <% end %>
        <tr>
          <th>Totalt</th>
          <th><%= @orchestra['orchestra_signups'].sum { |x| x['total_cost'] } %> SEK</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
