<% content_for :header_title do %>Kontakt<% end %>


<div class="contact-container">

  <div class="row title-row first-row">
    <h3 class="title-attached-to-side top-title">
      <%= @group.title %>
    </h3>
  </div>

  <div class="row card-row">
    <div class="card-container">
      <% @contacts.each do |contact| %>
          <div class="card contact-card">
            <div class="card-image">
              <%= image_tag("https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/contacts/#{contact.picture}.jpg") %>
            </div>
            <div class="card-content no-border">
                  <span class="title">
                    <%= contact.title %>
                  </span>
              <br>
              <span class="name">
                    <%= contact.name %>
                  </span>
            </div>
            <div class="card-content no-background">
                  <span class="email">
                    <%= contact.email %>
                  </span>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

