<% content_for :header_title do %>Order-statistik<% end %>

<div class="container product-statistics-container">
  <div class="row">
    <div class="col s12 m6">
      <p><b>Köpt LinTek-rabatt: </b><%= @measures['used_lintek_rebate'] %></p>
      <p><b>Köpt funkis-rabatt: </b><%= @measures['used_funkis_rebate'] %></p>
      <p><b>Antal utlämnade: </b><%= @measures['collected'] %></p>
      <p><b>Antal kvar att hämta ut: </b><%= @measures['collectable'] %></p>
      <p><b>Torsdagsrabatter: </b><%= @measures['thursday'] %></p>
      <p><b>Fredagsrabatter: </b><%= @measures['friday'] %></p>
      <p><b>Lördagsrabatter: </b><%= @measures['saturday'] %></p>
      <p><b>Helhelgsrabatter: </b><%= @measures['weekend'] %></p>
      <p><b>Fridag/Lördag, okänt: </b><%= @measures['unknown'] %></p>
    </div>
    <div class="col s12 m6">
      <a class="btn right margin-top-13" href="<%= url_for controller: :order_statistics %>">Visa graf</a>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th>Basprodukt</th>
      <th>Produktnamn</th>
      <th>Antal sålda</th>
      <th>Max gräns</th>
      <th>Procent sålda</th>
    </tr>
    </thead>
    <tbody>
    <% @statistics.each do |base_product| %>
        <% if base_product['products'].count < 2 %>
            <tr>
              <td><%= base_product['name'] %></td>
              <td></td>
              <td><%= base_product['products'].first['amount_bought'] %></td>
              <% if base_product['products'].first['max_num_available']== 0 %>
                  <td>Oändligt</td>
                  <td></td>
              <% else %>
                  <td><%= base_product['products'].first['max_num_available'] %></td>
                  <td><%= percent_of(base_product['products'].first['amount_bought'], base_product['products'].first['max_num_available']) %>%</td>
              <% end %>

            </tr>
        <% else %>
            <% base_product['products'].each_with_index do |product, index| %>
                <tr>
                  <% if index == 0 %>
                      <td><%= base_product['name'] %></td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <td><%= product['kind'] %></td>
                  <td><%= product['amount_bought'] %></td>
                  <% if product['max_num_available'] == 0 %>
                      <td>Oändligt</td>
                      <td></td>
                  <% else %>
                      <td><%= product['max_num_available'] %></td>
                      <td><%= percent_of(product['amount_bought'], product['max_num_available']) %>%</td>
                  <% end %>
                </tr>
            <% end %>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>