<% content_for :header_title do %>FAQ<% end %>

<div class="faq-container">
  <div class="container ">
    <div class="row">
      <div class="col s12">
        <div class="language-select">
          <%= link_to faq_path(:lang => "swe") do %>
              <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/languange_flags/swe.png" id="swe-lang">
          <% end %>
          <%= link_to faq_path(:lang => "eng") do %>
              <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/languange_flags/eng.png" id="eng-lang">
          <% end %>
        </div>
      </div>
    </div>

    <div class="faqs">
      <% @faq_group.each do |group| %>
          <div class="row faq-group-row faq-group">
            <% if @lang == 'eng' %>
                <h4><%= group['name_eng'] %></h4>
            <% else %>
                <h4><%= group['name'] %></h4>
            <% end %>
          </div>

          <div class="faq-holder">
              <% group['faqs'].each_with_index do |faq, index| %>
                  <% if index % 2 == 0 %>
                    <div class="row">
                      <div class="col s12 m6 l6">
                        <% if @lang == 'eng' %>
                            <p class="question"><%= faq['question_eng'] %></p>
                            <p class="answer"><%= faq['answer_eng'] %></p>
                        <% else %>
                            <p class="question"><%= faq['question'] %></p>
                            <p class="answer"><%= faq['answer'] %></p>
                        <% end %>
                      </div>
                  <% else %>
                      <div class="col s12 m6 l6">
                        <% if @lang == 'eng' %>
                            <p class="question"><%= faq['question_eng'] %></p>
                            <p class="answer"><%= faq['answer_eng'] %></p>
                        <% else %>
                            <p class="question"><%= faq['question'] %></p>
                            <p class="answer"><%= faq['answer'] %></p>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                  <% if faq == group['faqs'].last and index % 2 == 0 %>
                      </div>
                  <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="margin-bottom-40"></div>
</div>