<% content_for :header_title do %>Hantera kårteger<% end %>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h4>Intresseanmälan</h4>
      <p>
        <b>Lagnamn: </b>
        <%= @cortege['name'] %>
      </p>
      <p>
        <b>Förening: </b>
        <%= @cortege['student_association'] %>
      </p>
      <p>
        <b>Antal personer som ingår i laget: </b>
        <%= @cortege['participant_count'] %>
      </p>
      <p>
        <b>Kårtegetyp: </b>
        <%= cortege_type %>
      </p>
      <p>
        <b>Idé</b>
        <br/>
        <%= @cortege['idea'] %>
      </p>
      <p>
        <b>Övriga kommentarer</b>
        <br/>
        <%= @cortege['comments'] %>
      </p>
      <p>
        <b>Kontaktuppgifter</b>
      <blockquote>
        <%= @cortege['user']['display_name'] %>
        <br/>
        E-mail: <%= @cortege['user']['email'] %>
        <br/>
        Telefon: <%= @cortege['contact_phone'] %>
      </blockquote>
      </p>
    </div>
    <div class="col s12 m6">
      <h4>Status</h4>
      <form method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="row">
          <div class="col s12">
            <label for="status">Status</label>
            <select name="item[status]" id="status" required>
              <%= status_option 'pending' %>
              <%= status_option 'in-review' %>
              <%= status_option 'done' %>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <input id="approved" type="checkbox" name="item[approved]" class="filled-in" <%= 'checked' if @cortege['approved'] %>>
            <label for="approved">Godkänd</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="waves-effect waves-light btn" type="submit">Uppdatera</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>