<% content_for :header_title do %>Ändra FAQ<% end %>

<div class="container faq-container">

  <form method="post" action="<%= url_for controller: :faq_management, action: :update_faq %>" id="<%= @faq['id'] %>">

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="row margin-top-40">
      <div class="input-field col s12 m6 l6">
        <input placeholder="Din fråga på svenska..." name="question" id="question" type="text" class="validate" value="<%= @faq['question'] %>" required>
        <label for="question">Fråga(sv):</label>
      </div>
      <div class="input-field col s12 m6 l6">
        <input placeholder="Din fråga på engelska..." name="question_eng" id="question_eng" type="text" class="validate" value="<%=	@faq['question_eng'] %>" required>
        <label for="question_eng">Fråga(en):</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6 l6">
        <textarea placeholder="Ditt svar på svenska..." name="answer" id="answer" class="materialize-textarea" required><%=	@faq['answer'] %></textarea>
        <label for="answer">Svar(sv):</label>
      </div>
      <div class="input-field col s12 m6 l6">
        <textarea placeholder="Ditt svar på engelska..." name="answer_eng" id="answer_eng" class="materialize-textarea" required><%=	@faq['answer_eng'] %></textarea>
        <label for="answer_eng">Svar(en):</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6 l6">
        <select name="faq_group_id" required>
          <option value="" disabled>FAQ Grupper</option>
          <% @faq_groups.each do |fg| %>
              <% if @faq['faq_group']['id'] == fg['id'] %>
                  <option value="<%= fg['id'] %>" selected><%= fg['name'] %></option>
              <% else %>
                  <option value="<%= fg['id'] %>"><%= fg['name'] %></option>
              <% end %>
          <% end %>
        </select>
        <label>Tillhör FAQ grupp:</label>
      </div>
    </div>

    <button type="submit" class="btn green">Uppdatera FAQ</button>

  </form>
</div>