<% content_for :header_title do %>K책rteget책get<% end %>

<div class="container">
  <a class="btn blue" href="<%= url_for action: :new %>">l채gg till lineup</a>

  <table class="highlight responsive-table">
    <thead>
    <tr>
      <th>Namn</th>
      <th>Artist</th>
      <th>Ballet</th>
      <th>K책rtege</th>
      <th>Nummer</th>
    </tr>
    </thead>
    <tbody>
    <% @cortege_lineups.each do |cortege| %>
        <tr data-href="<%= url_for action: :show, id: cortege['id'] %>">
          <td><%= cortege['name']%></td>
          <td><%= cortege['orchestra'] %></td>
          <td><%= cortege['ballet'] %></td>
          <td><%= cortege['cortege'] %></td>
          <td><%= cortege['order']%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>