<% content_for :header_title do %>Hantera kårtegeLineup<% end %>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h4>Kårtege</h4>
      <p>
        <b>Namn: </b>
        <%= @cortege['name'] %>
      </p>
      <p>
        <b>Gruppnamn: </b>
        <%= @cortege['description'] %>
      </p>
      <p>
        <b>Kårtegetyp: </b>
        <%= @cortege['cortege_type']%>
      </p>
      <p>
        <b>Placering: </b>
        <br/>
        <%= @cortege['order'] %>
      </p>

    </div>
    <div class="col s12 m6">
      <h4>Uppdatera</h4>
      <form method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="row">
          <div class="col s12 m6">
            <div class="row">
              <div class="input-field col s12">
                <label for="name">Kårtegenamn</label>
                <input id="name" type="text" name="item[name]" required>
              </div>
              <div class="input-field col s12">
                <textarea id="description" type="text" class="materialize-textarea" name="item[description]" required><%= @cortege['description'] %></textarea>
                <label for="motivation">Beskrivning</label>
              </div>
              <div class="input-field col s12">
                <textarea id="image" type="text" class="materialize-textarea" name="item[image]" required><%= @cortege['image'] %></textarea>
                <label for="image">Länk till bild</label>
              </div>
              <div class="input-field col s12">
                <textarea id="cortege_type" type="text" class="materialize-textarea" name="item[cortege_type]" required><%= @cortege['cortege_type'] %></textarea>
                <label for="cortege_type">Typ av kårtege</label>
              </div>
              <div class="input-field col s12">

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="waves-effect waves-light btn" type="submit">Uppdatera</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>