<p id="notice"><%= notice %></p>

<h1>Cortege Contributions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cortege_contributions.each do |cortege_contribution| %>
      <tr>
        <td><%= link_to 'Show', cortege_contribution %></td>
        <td><%= link_to 'Edit', edit_cortege_contribution_path(cortege_contribution) %></td>
        <td><%= link_to 'Destroy', cortege_contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cortege Contribution', new_cortege_contribution_path %>
