<% map_groups(@user).each do |group| %>
    <p>
      <input type="checkbox" id="<%= group[:id] %>" name="<%= group[:id] %>" class="filled-in" <%= 'checked' if group[:given] %>/>
      <label for="<%= group[:id] %>"><%= group[:name] %></label>
    </p>
<% end %>