<% content_for :header_title do %>Hantera användare<% end %>

<div class="container">
  <form method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <table>
      <tr>
        <th>Namn:</th>
        <td><input type="text" name="display_name" value="<%= @user['display_name'] %>"></td>
      </tr>
      <tr>
        <th>E-mail:</th>
        <td><%= @user['email'] %></td>
      </tr>
      <tr>
        <th>Behörigheter:</th>
        <td><%= render 'permissions' %><br></td>
      </tr>
    </table>

    <button class="btn" type="submit">Spara</button>
  </form>

  <% unless @user['funkis_application'].nil? %>
    <form method="post" action="<%= url_for action: :remove_funkis_application, id: params[:id] %>">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button class="btn red" type="submit">Ta bort funkisanmälan</button>
    </form>
  <% end %>

</div>