<footer class="page-footer footer-wrapper">
  <div class="row">
    <!-- Social media icons/links -->
      <div class="social-media-row">
        <ul>
          <li>
            <%= link_to 'https://www.facebook.com/Studentorkesterfestivalen', :class => 'btn-flat btn-social-media waves-effect waves-light', target: :'_blank' do %>
                <i class="icon-facebook socialmedia-icon"></i>
            <% end %>
          </li>
          <li>
            <%= link_to 'https://www.instagram.com/studentorkesterfestivalen/', :class => 'btn-flat btn-social-media waves-effect waves-light', target: :'_blank' do %>
                <i class="icon-instagram socialmedia-icon"></i>
            <% end %>
          </li>
          <li id="sof-heart-container">
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/SOF_hjarta.png">
          </li>
          <li>
            <%= link_to 'https://www.flickr.com/people/studentorkesterfestivalen/', :class => 'btn-flat btn-social-media waves-effect waves-light', target: :'_blank' do %>
                <i class="icon-flickr4 socialmedia-icon"></i>
            <% end %>
          </li>
          <li>
            <%= link_to 'https://www.youtube.com/channel/UCafg7RA5YYPmFP5nh3gNBGg', :class => 'btn-flat btn-social-media waves-effect waves-light', target: :'_blank' do %>
                <i class="icon-youtube socialmedia-icon"></i>
            <% end %>
          </li>
        </ul>
    </div>
  </div>


    <!-- Sponsors -->
    <div class="row no-margin">
      <div class="line-with-text">
        <span class="text-in-line">
          Samarbetspartners
        </span>
      </div>
    </div>
    <div class="container-logos">
      <div class="sponsor-logo-container">
          <%= link_to 'http://visitlinkoping.se/', target: :'_blank' do %>
              <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/logotyper/sponsorer/updated/sponsor1.svg" class="horizontal-logo">
          <% end %>
        </div>
        <div class="sponsor-logo-container">
          <%= link_to 'http://www.linkoping.se/', target: :'_blank' do %>
              <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/logotyper/sponsorer/updated/sponsor2.svg" class="horizontal-logo">
          <% end %>
        </div>
        <div class="sponsor-logo-container">
          <%= link_to 'https://liu.se/', target: :'_blank' do %>
              <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/logotyper/sponsorer/updated/sponsor3.svg" class="horizontal-logo">
          <% end %>
        </div>
        <div class="sponsor-logo-container">
          <%= link_to 'http://www.ebbepark.se/', target: :'_blank' do %>
              <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/logotyper/sponsorer/updated/sponsor4.svg" class="horizontal-logo">
          <% end %>
        </div>
        <div class="sponsor-logo-container">
          <%= link_to 'http://wheresthemusic.se/', target: :'_blank' do %>
              <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/logotyper/sponsorer/updated/sponsor_last.svg" class="vertical-logo">
          <% end %>
        </div>
    </div>
</footer>