<div id="navgroup">
  <div id="slide-out" class="side-nav fixed">
    <ul>
      <li class="logo">
        <a href="/" class="brand-logo">
          <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/logotyper/sof/Logga_2.svg">
        </a>
      </li>

      <% if current_user.nil? %>
          <li><%= link_to('Logga in', login_path, {:class => 'menu-item waves-effect waves-light'}) %></li>
      <% else %>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header menu-item">
                  Konto
                  <i class="icon-arrow-down"></i>
                </a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <a href="<%= profile_url %>" class="submenu-item waves-effect waves-light">
                        <%= current_user['display_name'] || 'Profil' %>
                      </a>
                    </li>
                    <% unless current_user['orchestra'].nil? %>
                      <li>
                        <a href="<%= url_for controller: :orchestra, action: :show, id: current_user['orchestra']['id'] %>" class="submenu-item waves-effect waves-light">
                          Min orkester
                        </a>
                      </li>
                    <% end %>
                    <% unless current_user['orchestra_signup'].nil? %>
                        <li>
                          <a href="<%= url_for controller: :orchestra, action: :show_signup, id: current_user['orchestra_signup']['id'] %>" class="submenu-item waves-effect waves-light">
                            Min orkesteranmälan
                          </a>
                        </li>
                    <% end %>
                    <li>
                      <a href="<%= logout_url %>" class="submenu-item waves-effect waves-light">
                        Logga ut
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
      <% end %>

      <% menu_items.each do |item| %>
          <% if item['menu_items'].any? %>
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header menu-item">
                      <%= item['title'] %>
                      <i class="icon-arrow-down"></i>
                    </a>
                    <div class="collapsible-body">
                      <ul>
                        <% item['menu_items'].each do |sub_menu_item| %>
                            <li>
                              <a href="<%= sub_menu_item['href'] %>" class="submenu-item waves-effect waves-light">
                                <%= sub_menu_item['title'] %>
                              </a>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
          <% else %>
              <li>
                <a href="<%= item['href'] %>" class="menu-item waves-effect waves-light">
                  <%= item['title'] %>
                </a>
              </li>
          <% end %>
      <% end %>
    </ul>

    <ul class="lintek-logo-hearts">
      <li class="lintek-hearts">
        <%= link_to 'http://lintek.larmdagarna.se/', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/larm_hjarta.png">
        <% end %>

        <%= link_to 'http://klimatveckan.lintek.liu.se/', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/klimatveckan_hjarta.png">
        <% end %>

        <%= link_to 'http://lintek.liu.se', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/lintek_hjarta.png">
        <% end %>

        <%= link_to 'http://lithanian.lintek.liu.se/', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/lithanian_hjarta.png">
        <% end %>

        <%= link_to 'http://munchenhoben.lintek.liu.se/', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/munchen_hjarta.png">
        <% end %>
      </li>
      <li>
        <a href="<%= url_for controller: :application, action: :change_language, lang: t('new_language') %>" class="center-align"><span class="switch-language-text"><%= t('switch_language') %></span></a>
      </li>
      <li class="lintek-logo-text-container">
        <span class="lintek-logo-text">Arrangeras av</span>
      </li>
      <li class="lintek-logo-container">
        <%= link_to 'http://lintek.liu.se', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/lintek_vit.svg">
        <% end %>
      </li>
    </ul>
  </div>
</div>