<div id="navgroup">
  <div id="slide-out" class="side-nav fixed">
    <ul>
      <li class="logo">
        <a href="/" class="brand-logo">
          <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/logotyper/sof/Logga_2.svg">
        </a>
      </li>

    <% if menu_items.success? %>
      <%= render 'layouts/loginmenu' %>
      <% menu_items.each do |item| %>
        <%= render 'layouts/menuitem', item: item %>
      <% end %>
    <% else %>
          <li class="center-align">
            <span class="white-text">Kunde inte ladda meny</span>
          </li>
    <% end %>
    </ul>

    <ul class="lintek-logo-hearts">
      <li class="lintek-hearts">
        <%= link_to 'http://lintek.larmdagarna.se/', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/larm_hjarta.png">
        <% end %>

        <%= link_to 'http://klimatveckan.lintek.liu.se/', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/klimatveckan_hjarta.png">
        <% end %>

        <%= link_to 'http://lintek.liu.se', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/lintek_hjarta.png">
        <% end %>

        <%= link_to 'http://lithanian.lintek.liu.se/', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/lithanian_hjarta.png">
        <% end %>

        <%= link_to 'http://munchenhoben.lintek.liu.se/', :class => 'lintek-heart waves-effect waves-light', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/munchen_hjarta.png">
        <% end %>
      </li>
      <li>
        <a href="<%= url_for controller: :application, action: :change_language, lang: t('new_language') %>" class="center-align"><span class="switch-language-text"><%= t('switch_language') %></span></a>
      </li>
      <li class="lintek-logo-text-container">
        <span class="lintek-logo-text">Arrangeras av</span>
      </li>
      <li class="lintek-logo-container">
        <%= link_to 'http://lintek.liu.se', target: :'_blank' do %>
            <img src="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/lintek/lintek_vit.svg">
        <% end %>
      </li>
    </ul>
  </div>
</div>