<!DOCTYPE html>
<html>
  <head>
    <title>StudentOrkesterFestivalen</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://s3-eu-west-1.amazonaws.com/lintek-sof/webapp/logotyper/sof/SOF_tutputte_icon.ico">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Analytics -->
    <% if Rails.env.production? %>
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-90726922-1', 'auto');
            ga('send', 'pageview');
        </script>
    <% end %>

    <!-- Localization -->
    <script type="text/javascript">
        window.I18n = <%= I18n.backend.send(:translations).to_json.html_safe %>
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <input id="locale" type="hidden" value="<%= I18n.locale %>">

    <% flash.each do |key, value| %>
        <script type="application/javascript">
            Materialize.toast('<%= value %>', 4000)
        </script>
    <% end %>

    <%= render 'layouts/debugheader' %>

    <% if content_for? :navigation %>
      <%= yield :navigation %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
