<!DOCTYPE html>
<html>
  <head>
    <title>StudentOrkesterFestivalen</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <% flash.each do |key, value| %>
        <script type="application/javascript">
            Materialize.toast('<%= value %>', 4000)
        </script>
    <% end %>

    <% if content_for? :navigation %>
      <%= yield :navigation %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
