<!DOCTYPE html>
<html>
  <head>
    <title>StudentOrkesterFestivalen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>



  <body>
    <header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
            <!-- <%= link_to(@header_title, @header_title.downcase, {:class => 'page-title'}) %> -->
            <a class="page-title"> <%= @header_title %></a>
            <!-- <%= link_to('Contacts', contacts_path, {:class => 'page-title'}) %> -->
          </div>
        </div>
      </nav>

      <%= render 'layouts/navigation' %>
    </header>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
